[submodule "tec-coreos-config"]
	path = tec-coreos-config
	url = https://github.com/trusted-execution-clusters/fedora-coreos-tec-config
[submodule "rhel-coreos-config"]
	path = rhel-coreos-config
	url = https://github.com/coreos/rhel-coreos-config.git
